<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDsTjbkfHueNe6ECmBK0eWHur4tzR7tKwA</string>
	<key>GCM_SENDER_ID</key>
	<string>161148782686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.renasyaFb.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>renasya-fb</string>
	<key>STORAGE_BUCKET</key>
	<string>renasya-fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161148782686:ios:8dfc9437beb06d98754ccf</string>
</dict>
</plist>